
.weathercard{
display: flex;
  flex-wrap: wrap;
}

.search-bar{
display: inline;
}

.cityNav{
flex: 20%;
}

.cContent{
  flex:30%;
  padding-left: 15px;
 
}

.fContent{
  flex: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sinput{
  width: 100px;
}

img{
  height: 70px;
  width: 70px;
}

.card{
  border: 0px;
}

.title{
color: antiquewhite;
text-align: center;
}

.search-bar{
  margin-bottom: 5px;
}

.dayscard{
  padding: 0px;
}


@media (min-width:500px) {
.cContent{
  flex:30%;
  padding-left: 15px;
  padding-right: 15px;
}
}